#repl * {
    font-family: monospace;
}

* {
    font-family: serif;
}

h1 * {
    font-family: sans-serif;
}

.error {
    color: red;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#preamble {
    padding: 10px;
    background: #ddd;
    display: flex;
    flex-direction: column;
}

#repl {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#results {
    height: 200px;
    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
    padding: 10px;
}

#input {
    width: 100%;
}

#rules {
    flex-grow: 1;
    border: 0;
    padding: 0;
    margin: 0;
}

hr {
    background-color: black;
    height: 1px;
    width: 100%;
}

.rules-heading {
    font-weight: bold;
}

.syntax-metavar {
    font-style: italic;
}

.syntax-keyword {
    font-family: monospace;
    font-weight: bold;
}

